@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #db635d;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  padding: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.percentages {
  max-height: 758.7px;
}

.sticker-stroke {
  stroke: #dcd0c0;
  stroke-width: 5px;
  stroke-dasharray: 0, 785;
  animation: draw 1s linear forwards;
}

.bubbles {
  animation: float 6s linear forwards;
}

.energy {
  transition: all 300ms ease-in;
}

.energy-animate {
  fill: #db9e60;
}

@keyframes draw {

  0% {
    stroke-dasharray: 0, 785;
  }

  100% {
    stroke-dasharray: 785, 785;
  }
}

@keyframes float {

  0% {
    top: 0;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0;
  }
}

.st0 {
  fill:#dcd0c0;
  stroke:#4e4f56;
  stroke-width:6.8902;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st1 {
  fill:#9b3d3b;
  stroke:#4e4f56;
  stroke-width:7.0053;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st2m {
  fill:#b1928a;
  stroke:#4e4f56;
  stroke-width:7.0053;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st3 {
  fill:none;
}

.st4 {
  fill:#dcd0c0;
}

.st5 {
  fill:#db625d;
}

.st6 {
  fill:#db9e60;
  stroke:#4e4f56;
  stroke-width:7.0053;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st7 {
  fill:none;
  stroke:#dcbf96;
  stroke-width:4.2446;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st8 {
  fill:#4e4f56;
  stroke:#4e4f56;
  stroke-width:7.0053;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st9 {
  fill:#dcbf96;
  stroke:#4e4f56;
  stroke-width:7.0053;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st10 {
  fill:#4e4f56;
}

.st11 {
  fill:#dcd0c0;
  stroke:#4e4f56;
  stroke-width:7.76;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st12 {
  fill:#9b3d3b;
  stroke:#4e4f56;
  stroke-width:7.3066;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st13 {
  fill:#dcd0c0;
  stroke:#4e4f56;
  stroke-width:7.3066;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.st14 {
  fill:#db9e60;
  stroke:#4e4f56;
  stroke-width:7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

@media only screen and (min-width: 60em) {

  body {
    max-width: 60rem;
    margin: auto;
  }

}
